<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Registra tu carro</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-8 col-md-offset-3">
      <label for="n_days">Precio Por Dia</label>
      <input type="text" name="n_days">
      <label for="n_km">Precio Por Kilometro</label>
      <input type="text" name="n_km">
      <br/>
      <label for="tl_day">Total dia: </label>
      <br/>
      <label for="tl_km">Total KM: </label>
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button class="btn btn-primary btn-lg">Registrar</button>
    </div>
  </form>
</section>
<hr>
<section class="row">
  <h1 class="text-center h2">Reserva Tu Carro</h1>
  <section ng-controller="CarCtrl" class="well col-md-6 col-md-offset-3">
    <form>
      <div ng-repeat="car in info.cars" class="form-group col-md-4">
        <label for="carnumber">Carro: {{car.id}} </label>
        <br>
        <label for="n_days">Numero de dias:</label>
        <input type="number" name="n_days" ng-model="car.n_days">
        <label for="n_km">Distancia Aproximada:</label>
        <input type="number" name="n_km" ng-model="car.n_km">
        <br/>
        <label for="tl_day">Total dia: {{car.tl_day = (car.n_days*car.price_per_day)/100 | currency}} </label>
        <br/>
        <label for="tl_km">Total KM: {{car.tl_km=(car.n_km*car.price_per_km)/100 | currency}}</label>
        <br>
        <label for="tl_al">Total Alquiler: {{car.tl_day+car.tl_km | currency}}</label>
        <button class="btn btn-primary btn-lg">Reserva</button>
      </div>
    </form>
  </section>

  <section ng-controller="CarCtrl" class="well col-md-6 col-md-offset-3">
    <h2>Reservas</h2>
    <div ng-repeat="rent in info.rentals" class="form-group col-md-6">
      <label for="rentnumber">Reserva: {{rent.id}} </label>
      <br>
      <label for="rentnumber">Carro Reserva: {{rent.car_id}} </label>
      <br>
      <label for="rentdatestart">Fecha de reserva: {{rent.start_date}} </label>
      <br>
      <label for="rentdateend">Fecha de entrega: {{rent.end_date}} </label>
      <br>
      <label for="rentdist">Distancia: {{rent.distance}} </label>
      <br>
      <label for="rentdays">Dias de alquiler: {{rent.days = (rent.start_date | amDifference : rent.end_date : 'days')*-1 }} dias</label>
      <br>
      <label for="renttotal">Valor final del alquiler: {{(rent.days * 2000)/100 | currency}}</label>
    </div>
  </section>

  <section ng-controller="CarCtrl" class="well col-md-6 col-md-offset-3">
    <h2>Lista de Vehiculos y precios</h2>
    <ul ng-repeat="car in info.cars" class="col-md-4">
      <li>
        <h3>Numero del vehiculo:</<h3>
        {{car.id}}
        <h3>Precio por dia:</<h3>
        {{car.price_per_day/100 | currency}}
        <h3>Precio por kilometro:</<h3>
        {{car.price_per_km/100 | currency}}
      </li>
    </ul>
  </section>
</section>
